[Desktop Entry]
Type=Application
Name=MyPaint Drawing
Comment=Drawing and painting with the S Pen
Exec=/usr/local/bin/t630-gnome-run /usr/local/bin/t630-pen-app drawing %F
Icon=mypaint
Terminal=false
Categories=Graphics;
MimeType=image/openraster;image/png;image/jpeg;
StartupNotify=true
